body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f6fa;
}

.dashboard-container {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */

.sidebar {
  width: 250px;
  background: linear-gradient(180deg, #1f3b73, #162447);
  color: white;
  padding: 30px 20px;
}

.logo {
  font-size: 18px;
  margin-bottom: 40px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
}

.sidebar li:hover,
.sidebar .active {
  background-color: rgba(255, 255, 255, 0.1);
}

/* MAIN */

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* HEADER */

.header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background: white;
  border-bottom: 1px solid #eee;
}

.logout-btn {
  padding: 8px 16px;
  border: none;
  background-color: #1f3b73;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* CONTENT */

.content {
  padding: 0px 30px 0px 30px ;
}

.welcome-text {
  margin-bottom: 20px;
}

.summary-section {
  margin-bottom: 30px;
}

.summary-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.summary-card h4 {
  margin: 0;
  color: #555;
}

.summary-card h2 {
  margin: 10px 0 0;
  font-size: 28px;
}

/* RECENT UPDATES */

.recent-updates {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.recent-updates ul {
  padding-left: 18px;
}
